---
layout: layouts/main.njk
title: Projects
eleventyNavigation:
  key: Projects
---

<p>
  These are some of my personal projects.
</p>

{% for project in projects %}
<!-- {{ project.name }} -->
<div id="{{ project.id }}" class="proj">
  <h2 class="proj-title">
    <a href="{{ project.url }}">
      {{ project.name }}
      <img src="{{ project.image }}"
           alt="{{ project.name }}"
           class="proj-img" />
    </a>
  </h2>
  <p class="proj-desc">
    {{ project.description }}
  </p>
  {% if project.languages %}
  <p class="proj-lang">
    <em>Language{% if project.languages.size > 1 %}s{% endif %}:</em> &nbsp;
    {% for language in project.languages %}
    {{ language }}{% if forloop.last == false %}, {% endif %}
    {% endfor %}
  </p>
  {% endif %}
  {% if project.versions %}
  {% for version in project.versions %}
  {% if forloop.last %}
  <p class="proj-ver">
    <em>Latest version:</em> &nbsp;
    <a href="{{ project.dl-url }}">{{ project.name }} {{ version.number }}</a>,
    released {{ version.date }}.
  </p>
  {% endif %}
  {% endfor %}
  {% endif %}
</div>
{% endfor %}
