---
layout: layouts/main.njk
title: Guides
full-title: Textbook Solution Guides
eleventyNavigation:
  key: Guides
  parent: Projects
---

<p>
  These are my solutions to various mathematics textbook
  exercises. Check back often for updates.
</p>
<p>
  If you find any errors, formatting mistakes, or other issues please
  feel free to <a href="/contact/">contact me</a> and let me know. I
  appreciate any corrections or feedback.
</p>

<table class="guides">
  <tr>
    <th>Guide</th>
    <th>Last Updated</th>
    <th>Completed Chapters</th>
    <th>PDF File Size</th>
    <th>LaTeX Source</th>
  </tr>
  {% for guide in guides %}
  <tr>
    <td>
      <a href="{{ guide.pdfUrl }}">
        {{ guide.name }}
      </a>
    </td>
    <td>
      {{ guide.updated }}
    </td>
    <td>
      {{ guide.chapters }}
    </td>
    <td>
      {{ guide.size }}
    </td>
    <td>
      <a href="{{ guide.sourceUrl }}">
        GitHub
      </a>
    </td>
  </tr>
  {% endfor %}
</table>
