<!-- Footer -->
<footer class="container">
  <hr />
  <p class="legal">
    Copyright &copy; 2017-{{ "now" | date: "%Y" }} {{ site.author.name }}.
    License: <a href="{{ site.license.url }}"
                title="{{ site.license.name }}"
                >{{ site.license.identifier }}</a>.
  </p>
</footer>
<!-- End Footer -->
